.Rproj.user
.Rhistory
.RData
.Ruserdata
packrat/lib*/
SyncronReading.PNG
SyncronReading2.PNG
SyncronReading3.PNG
html_header.html
disqus.html
traffic.PNG
_main.rds
Advanced-R-Solutions.rds
Advanced R Solutions.rds
cpp_bsp.cpp
bookdown2cac4e301825
render2cac19c33b87.rds
