.Rproj.user
.Rhistory
.RData
.Ruserdata
_bookdown_files/
_book/
packrat/lib*/
render[0-9,a-z]*.rds
bookdown[0-9,a-z]*
pandoc*
_main.rds
libs
*.md
*_files
*_cache
.Rbuildignore
.idea
_main.docx

/.quarto/
_freeze
_cache$
