15-Memory_files
14-Profiling_files
13-Performance_files
12-Domain_specific_languages_cache
06-Exceptions_and_debugging_cache
07-Functional_programming_cache
08-Functionals_cache
09-Function_operators_cache
10-Non_standard_evaluation_cache
11-Expressions_cache
13-Performance_cache
14-Profiling_cache
15-Memory_cache
16-Rcpp_cache
01-Data_structures_cache
02-Subsetting_cache
03-Functions_cache
04-OO_field_guide_cache
05-Environments_cache
index_files
index_cache
